/* 1.5. Carousel */

/* 	Carousel adapted from https://www.w3.org/TR/wai-aria-practices-1.1/examples/carousel/carousel-1.html */
.carousel .carousel-inner{
	margin: 0 auto;
	max-width: 700px;
	position: relative;
	}
@media only screen and (min-width: 992px){
	.carousel .carousel-inner{
		width: 75% !important;
		max-width: 900px;
	}
}
/* Carousel items */
.carousel .carousel-item{
	line-height: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: none;
}
.carousel .carousel-item.active{
	display: block;
}
.carousel .carousel-items{
	border: solid 1px #242424;
}
/* Carousel images */
.carousel .carousel-item .carousel-image{
	background: #e6e6e6;
}
.carousel .carousel-item .carousel-image img{
	width: 100% !important;
	min-height: calc(178px * .95);
	max-height: calc(178px * .95);
	object-fit:cover;
	-o-object-fit: cover;
	overflow: hidden;
	object-position: 50% 50%;
}
@media screen and (min-width:480px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(263px * .95);
		max-height: calc(263px * .95);
	}
}
@media screen and (min-width:624px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(348px * .95);
		max-height: calc(348px * .95);
	}
}
@media screen and (min-width:768px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(411px * .95);
		max-height: calc(411px * .95);
	}
}
@media screen and (min-width:992px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(423px * .95);
		max-height: calc(423px * .95);
	}
}
@media screen and (min-width:1200px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(515px * .95);
		max-height: calc(515px * .95);
	}
}
@media screen and (min-width:1366px){
	.carousel .carousel-item .carousel-image img{
		min-height: calc(529px * .95);
		max-height: calc(529px * .95);
	}
}
/* Carousel caption (also see image caption) */
.carousel .carousel-item .carousel-caption{
	text-align: center;
	line-height: 1.2em;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: .4em;
	left: 0;
}
@media only screen and (min-width: 480px){
	.carousel .carousel-item .carousel-caption{
		line-height: 1.6em;
		bottom: .5em;
	}
}
@media only screen and (min-width: 768px){
	.carousel .carousel-item .carousel-caption{
		right: .5em;
		bottom: .5em;
		left: unset;
	}
}
.carousel .carousel-item .carousel-caption p{
	font: 16px 'Noto Serif', serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	display: inline-block;
}
@media only screen and (min-width: 320px){
	.carousel .carousel-item .carousel-caption p{
		line-height: inherit;
	}
}
.carousel .carousel-item .carousel-caption p a{
	font-size: .9em;
}
.carousel .carousel-item .carousel-caption a{
	text-decoration: underline;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.65);
	border: 2px solid transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0;
	padding: 1px 6px;
	display: inline-block;
}
.carousel .carousel-item .carousel-caption a:hover,
.carousel .carousel-item .carousel-caption a:focus{
	background-color: #0645AD;
	margin: 0;
}
.carousel .carousel-item .carousel-caption a:focus{
	border-color: #0645AD;
	box-shadow: inset 0px 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
}
/* Shared CSS for Pause, Next and Previous Slide Controls */
.carousel .controls button{
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	position: absolute;
	top: 5px;
	z-index: 10;
}
.carousel .controls button svg rect.background{
	fill: #242424;
	stroke: #242424;
	stroke-width: 1px;
	opacity: 0.6;
}
.carousel .controls button svg rect.border{
	fill: transparent;
	stroke: transparent;
	stroke-width: 2px;
}
.carousel .controls button:focus rect.background,
.carousel .controls button:hover rect.background,
.carousel .controls button:focus rect.border,
.carousel .controls button:hover rect.border{
	fill: #0645AD; ;
	stroke: #0645AD;
	opacity: 1;
}
/* Next and Previous Slide Controls */
.carousel .controls button svg polygon{
	fill: #fff;
	stroke: #fff;
	stroke-width: 2;
	opacity: 1;
}
.carousel .controls button.previous{
	top: 10px;
	right: 50px;
}
.carousel .controls button.next{
	top: 10px;
	right: 6px;
}
/* Pause Control */
.carousel .controls button.rotation{
	top: 10px;
	left: 6px;
}
.carousel .controls button.rotation svg polygon.pause{
	fill: transparent;
	stroke-width: 4;
	stroke: transparent;
}
.carousel .controls button.rotation svg polygon.play{
	fill: transparent;
	stroke-width: 1;
	stroke: transparent;
}
.carousel .controls button.rotation.pause svg polygon.pause,
.carousel .controls button.rotation.play svg polygon.play{
	fill: #fff;
	stroke: #fff;
}
/* Common focus styling for svg buttons */
/* .carousel .controls button:focus rect.background,
.carousel .controls button:hover rect.background,
.carousel .controls button:focus rect.border,
.carousel .controls button:hover rect.border{
	fill: #0645AD; ;
	stroke: #0645AD; 
	opacity: 1;
} */
.carousel .controls button:focus rect.border{
	stroke: #fff;
}