/* 1.2.1 Cluster Pages */

/* ----------------------- */
/* Also see content.css and .current on style.css */
.zoomcasts.cluster main section:first-child{
	background: linear-gradient(to left top, #fff 50%, #cb6948 50%);
}
.zoomcasts.cluster main section h2{
	color: white;
	background: #cb6948;
}
.lesson-plans.cluster main section:first-child{
	background: linear-gradient(to left top, #fff 50%, #5378ac 50%);
}
.lesson-plans.cluster main section h2{
	color: white;
	background: #5378ac;
}
.syllabi.cluster main section:first-child{
	background: linear-gradient(to left top, #fff 50%, #728a61 50%);
}
.syllabi.cluster main section h2{
	color: white;
	background: #728a61;
}
.about.cluster main section:first-child{
	background: linear-gradient(to left top, #fff 50%, #757575 50%);
}
.about.cluster main section h2{
	color: white;
	background: #757575;
}
/* ----------------------- */

.cluster main{
	margin: 47px auto 0;
	padding: 0 .5em 0;
	max-width: 100%;
	position: relative;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 1rem;
}
@media only screen and (min-width: 480px){
	.cluster main{
		margin-top: 47px;
		padding: .5em 1em 0;
	}
}
@media only screen and (min-width: 768px){
	.cluster main{
		margin-top: 51px;
		max-width: 700px;
	}
	.cluster.zoomcasts main{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem
	}
}
@media only screen and (min-width: 992px){
	.cluster main{
		margin-top: 63px;
		max-width: calc(1000px + 4em);
		align-items: stretch;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1.5rem;
	}
	.cluster.zoomcasts main{
		gap: 1.5rem;
	}
}
/* ----------------------- */
.cluster main section{
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #242424;
	border-radius: 5px;
	margin: 0;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
}
.cluster main section:first-child{
	min-height: 150px;
	position: relative;
}
@media only screen and (min-width: 768px){
	.cluster.zoomcasts main section{
		flex: 0 0 calc(50%  - .5rem - 2px);
	}
	.cluster.zoomcasts main section:first-child{
		flex: 1 0 calc(100% - 2px);
	}
	.cluster.zoomcasts main section:nth-child(2){
		flex: 1 0 calc(100% - 2px);
	}
}
@media only screen and (min-width: 992px){
	.cluster main section{
		max-width: 500px;
		flex: 1 0 calc(50% - 1rem - 2px);
	}
	.cluster.zoomcasts main section{
		max-width: 333.3px;
		flex: 1 0 calc(33.3% - 1.5rem - 2px);
	}
		.cluster main section:first-child,
		.cluster.zoomcasts main section:first-child{
			max-width: 300px;
			flex: 1 0 calc(27.5% - 1rem - 2px);
	}
	.cluster main section:nth-child(2),
	.cluster.zoomcasts main section:nth-child(2){
		max-width: 600px;
		flex: 1 0 calc(72.5% - 1rem - 2px);
	}
}
/* ----------------------- */
.cluster main section h2{
	font-size: 1.1em;
	font-weight: 700;
	font-variant: normal;
	/* hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	word-break: normal;
	-ms-word-break: normal; */
	color: #fff;
	border-bottom: 1px solid #242424;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin: 0;
	padding: .5em 0;
}
.cluster main section h2#level-2-title{
	font-size: 1.5em;
	white-space: nowrap;
	border: 3px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0;
	padding: 10px;
	height: 33px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cluster main section p{
	font-size: .95em;
	padding: 0 1em;
}
.cluster.zoomcasts main section p{
	margin: 0 1em 1em;
}
.cluster.zoomcasts main section:nth-child(2) p{
	margin: 1em;
}
/* Ratio box adapted from https://pqina.nl/blog/presenting-images-in-an-aspect-ratio-with-css/ */
/* 8/10 = 80 | 5/7 = 71.43 | 2/3 = 66.67 | 9/16 = 56.25 */
.cluster main section div{
	background: #e6e6e6;
	margin: 1em;
	padding: 0;
	position: relative;
}
.cluster main section div:hover,
.cluster main section div:focus-within{
	outline: 3px solid #395375;
	overflow: hidden;
}
.cluster main section div::after{
	content: "";
	display: block;
}
.cluster main section div::after{
	padding-bottom: 66.67%;
}
.cluster.zoomcasts main section div::after{
	padding-bottom: 56.25%;
}
.cluster.about main section div::after{
	padding-bottom: 71.43%;
}
@media only screen and (min-width: 992px){
	.cluster main section div::after{
		padding-bottom: 66.67%;
	}
	.cluster.zoomcasts main section div::after{
		padding-bottom: 56.25%;
	}
	.cluster.about main section div::after{
		padding-bottom: 71.43%;
	}
}
.cluster main section div img{
	background: #e6e6e6;
	width: 100%;
  height: 100%;
	position: absolute;
  left: 0;
  top: 0;
	object-fit:cover;
	-o-object-fit: cover;
	overflow: hidden;
	object-position: 50% 50%;
}
.cluster main section div a img{
	border: none;
}
.cluster main section div a:hover img,
.cluster main section div a:focus img{
	border: none;
	opacity: .7;
}
.cluster main section div span{
	font-size: 1.1em;
}
.cluster.zoomcasts main section div span{
	font-size: 1em;
}
/* some specs below from Livingstone Online */
.cluster main section div span{
	color: #fff;
	background-color: rgb(66,66,66);
	line-height: 1.5em;
	text-align: center;
	padding: .25em 0;
	width: 100%;
	/* min-height: 20%; */
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	opacity: .9;
}
.cluster main section div a:hover,
.cluster main section div a:focus{
	background: none;
}
.cluster main section ol,
.cluster main section ul{
	text-align: center;
	list-style: none;
	margin: 1em 1em 1.5em;
	padding: 0;
}
@media only screen and (min-width: 768px){
	.cluster main section ol,
	.cluster main section ul{
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
}
.cluster main section ul li{
	/* hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	word-break: normal;
	-ms-word-break: normal; */
	line-height: 1.5em;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 1em 0;
	padding: .3em;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@media only screen and (min-width: 768px){
	.cluster main section ul li{
		margin: .75em .5em;
		padding: .15em;
		min-height: 35px;
		flex: 1 0 calc(50% - 2px - 2em);
	}
}
.cluster main section ul li:first-child{
	font-size: .95em;
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	background: #e6e6e6;
	min-height: unset;
}
@media only screen and (min-width: 768px){
	.cluster main section ul li:first-child{
		margin: .5em .5em .75em;
		display: block;
		flex: 1 0 calc(100% - 2px - 1em);
	}
}
.cluster main section ul li:first-child:hover,
.cluster main section ul li:first-child:focus-within{
	color: inherit;
	background: #e6e6e6;
}
.cluster main section ul li a,
.cluster main section ul li a:visited{
	font-size: .95em;
	text-decoration: none;
	color: #242424;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cluster main section ul li:hover,
.cluster main section ul li:focus-within,
.cluster main section ul li:hover a,
.cluster main section ul li:focus-within a{
	color: white;
	background: #395375;
}
.cluster main section ul li a i{
	display: none;
	visibility: hidden;
}
.lesson-plans.cluster main section div{
	height: 100%;
	display: -webkit-flex;
	display: flex;
  flex-flow: column;
}

/* Safari Support: Mobile and Safari below 14.1 */
/* Adapted from  https://ppuzio.medium.com/flexbox-gap-workaround-for-safari-on-ios-14-13-and-lower-ffcae589eb69 and 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Conditional_Rules/Using_Feature_Queries */
/* Further developed from the original code creeated by One More Voice (https://github.com/livingstoneonline/onemorevoice/blob/master/css/style.css) */
@supports (-webkit-touch-callout: none) and (not (translate: none)){
	.cluster main,
	.cluster.zoomcasts main{
		text-align: center;
		margin: calc(47px - .5rem) auto -.5rem;
	}
	.cluster main section,
	.cluster.zoomcasts main section{
		margin: .5rem 0;
	}
	@media only screen and (min-width: 768px){
		.cluster main,
		.cluster.zoomcasts main{
			margin: calc(51px - .5rem) auto -.5rem;
		}
		.cluster.zoomcasts main section{
			margin: .5rem .25rem;
		}
	}
	@media only screen and (min-width: 992px){
		.cluster main,
		.cluster.zoomcasts main{
			margin: calc(63px - .5rem) auto -.5rem;
		}
		.cluster main section{
			margin: .5rem .25rem;
		}
	}
}