/* 1.2.2. Content Pages */

/* Section-specific colors */
/* 

*/
/* ----------------------- */
/* Also see cluster.css and .current on style.css */
.zoomcasts.content header{
	background: #ca6a4a;
}
.zoomcasts.content .youtube .play-button{
	background-color: #cc6b4b;
}
.lesson-plans.content header{
	background: #5378ac;
}
.syllabi.content header{
	background: #728a61;
}
.about.content header{
	background: #757575;
}
/* ----------------------- */
.content header{
	font-size: 1.1em;
	margin: calc(41px + .3em) auto 0;
	padding: 0;
	height: 20px;
	max-width: calc(100% - 26px);
}
@media only screen and (min-width: 480px){
	.content header{
		margin: calc(47px + .3em) auto 0;
		width: calc(100% - 30px);
		max-width: 700px;
	}
}
@media only screen and (min-width: 768px){
	.content header{
		margin: calc(51px + .3em) auto 0;
	}
}
@media only screen and (min-width: 992px){
	.content header{
		margin: calc(63px + .3em) auto 0;
		width: calc(100% - 46px);
		max-width: 1366px;
	}
}
.content main{
	text-align: left;
	padding: .5em 1em 1em;
}
.lesson-plans.content main{
	margin: 0 auto;
	max-width: 700px;
	}
@media only screen and (min-width: 992px){
	.lesson-plans.content main{
		width: 75% !important;
		max-width: 900px;
	}
}
.content main summary,
.content main section{
	margin: 2em auto;
	padding: 0 1em;
	max-width: 650px;
}
@media only screen and (min-width: 768px){
	.content main summary,
	.content main section{
		margin: 3em auto;
	}
}
.content main section.pathways{
	counter-reset: counter;
}
.content main section:first-of-type{
	margin-top: 1.5em;
}
.content main section:last-of-type{
	margin-bottom: 0;
}
.content main h2{
	font-size: 1.9em;
	hyphens: none;
	color: #242424;
	line-height: 1.5em;
	margin: .25em 0 .5em;
}
@media only screen and (min-width: 768px){
	.content main h2{
		margin: .5em 0 1em;
	}
}
.content main h4{
	font-size: 1.2em;
	font-variant: small-caps;
	text-align: left;
	margin: 2em 0 1em;
}
.content main section.pathways h4:first-of-type{
	margin: 1.5em 0 1em;
}
.content main section.pathways h4::before{
  counter-increment: counter;
  content: counter(counter) ". ";
}
.content main section.pathways strong{
  font-weight: 600;
}
.content main section.menu-container{
	text-align: center;
}
.content section.pathway-list{
	text-align: center;
}
.content .pathway-list ol{
	margin: 0 auto;
	display: inline-block;
}
.content ol.menu{
	font-size: .95em;
	margin: 0 auto;
	display: inline-block;
}
.content ol.menu li ol{
	list-style: lower-alpha;
}
.content ul#topic-list{
	padding: 0 0 0 1.2em;
}
.content i.fa-envelope{
	padding: 0 5px;
}


/* .lesson-plans.content main img{
	width: 100% !important;
	min-height: calc(178px * .95);
	max-height: calc(178px * .95);
	object-fit:cover;
	-o-object-fit: cover;
	overflow: hidden;
	object-position: 50% 50%;
}
@media screen and (min-width:480px){
	.lesson-plans.content main img{
		min-height: calc(263px * .95);
		max-height: calc(263px * .95);
	}
}
@media screen and (min-width:624px){
	.lesson-plans.content main img{
		min-height: calc(348px * .95);
		max-height: calc(348px * .95);
	}
}
@media screen and (min-width:768px){
	.lesson-plans.content main img{
		min-height: calc(411px * .95);
		max-height: calc(411px * .95);
	}
}
@media screen and (min-width:992px){
	.lesson-plans.content main img{
		min-height: calc(423px * .95);
		max-height: calc(423px * .95);
	}
}
@media screen and (min-width:1200px){
	.lesson-plans.content main img{
		min-height: calc(515px * .95);
		max-height: calc(515px * .95);
	}
}
@media screen and (min-width:1366px){
	.lesson-plans.content main img{
		min-height: calc(529px * .95);
		max-height: calc(529px * .95);
	}
} */