/* 1.2.2. Content Pages */

/* Section-specific colors */
/* Also see cluster.css and .current on style.css */
.zoomcasts.content header,
.zoomcasts.content main section.menu-container h3{
	background: #cb6948;
}
.zoomcasts.content .youtube .play-button{
	background-color: #cb6948;
}
.lesson-plans.content header,
.lesson-plans.content main section.menu-container h3{
	background: #5378ac;
}
.syllabi.content header,
.syllabi.content main section.menu-container h3{
	background: #728a61;
}
.about.content header,
.about.content main section.menu-container h3{
	background: #757575;
}
/* ----------------------- */
.content header{
	margin: calc(41px + .3em) auto 0;
	padding: 0;
	height: 10px;
	max-width: calc(100% - 26px);
}
@media only screen and (min-width: 480px){
	.content header{
		margin: calc(47px + .3em) auto 0;
		width: calc(100% - 30px);
		max-width: 700px;
	}
}
@media only screen and (min-width: 768px){
	.content header{
		margin: calc(51px + .3em) auto 0;
		height: 15px;
	}
}
@media only screen and (min-width: 992px){
	.content header{
		margin: calc(63px + .3em) auto 0;
		width: calc(100% - 46px);
		max-width: 1366px;
	}
}
.content main{
	padding: 0 .75em 1em;
	max-width: 100%;
}
@media only screen and (min-width: 480px){
	.content main{
		padding: 0 16px 1em;
	}
}
@media only screen and (min-width: 768px){
	.content main{
		padding: 0 0 1em;
	}
}
.content.lesson-plans main,
.content.syllabi main,
.content.about main{
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
}
.content.zoomcasts main{
	max-width: 700px;
}
@media only screen and (min-width: 992px){
	.content.lesson-plans main,
	.content.syllabi main,
	.content.about main{
		width: 75%;
		max-width: 900px;
	}
}
.content main summary,
.content main section{
	text-align: left;
	max-width: 700px;
}
.content main aside{
	text-align: left;
	max-width: 700px;
	padding: .25em 1em;
	box-sizing: border-box;
}
@media only screen and (min-width: 992px){
	.content.zoomcasts main,
	.content main summary,
	.content main section,
	.content main aside{
		max-width: 650px;
	}
}
/* pathways used on seacole lesson plans
materials used on african lesson plans
british-japanese used on east asia japanese aesthetics only */
.content main section,
.content main section.pathways,
.content main section.materials,
.content main section.british-japanese > section:first-of-type,
.content main section.british-japanese > section:last-of-type{
	counter-reset: pathways;
}
.content main section section{
	counter-reset: none;
}
.content main section:first-of-type,
.content main hr + section{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.content.error404 main section:first-of-type,
.content.error404 main section:first-of-type p{
	text-align: center;
}
/* Adapted from https://pqina.nl/blog/presenting-images-in-an-aspect-ratio-with-css/ */
/* Ratio box adapted from https://pqina.nl/blog/presenting-images-in-an-aspect-ratio-with-css/ */
/* 8/10 = 80 | 5/7 = 71.43 | 2/3 = 66.67 | 9/16 = 56.25 */
.content main .aspect-ratio-box{
	margin: .75em auto 1.75em;
	padding: 0;
	max-width: 700px;
	position: relative;
}
@media only screen and (min-width: 992px){
	.content main .aspect-ratio-box{
		margin: 1.25em auto 2em;
		max-width: 900px;
	}
}
.content main .aspect-ratio-box::after {
  content: "";
  padding-bottom: 56.25%;
	display: block;
}
.content.sitemap main .aspect-ratio-box::after {
  padding-bottom: 23.24%;
}
.content.error404 main .aspect-ratio-box::after {
  padding-bottom: 32.5%;
}
.content main .aspect-ratio-box img {
	background: #e6e6e6;
	width: 100%;
  height: 100%;
	position: absolute;
  left: 0;
  top: 0;
	object-fit:cover;
	-o-object-fit: cover;
	overflow: hidden;
	object-position: 50% 50%;
}
.content main .aspect-ratio-box .caption{
	background-color: rgb(66,66,66);
	border: 2px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 0px 6px;
	position: absolute;
	bottom: 7px;
	right: 7px;
	opacity: .93;
}
@media screen and (min-width: 480px){
	.content main .aspect-ratio-box .caption{
		font-size: 1.7em;
		padding: 4px 6px;
	}
}
.content main .aspect-ratio-box .caption:hover,
.content main .aspect-ratio-box .caption:focus-within{
	background-color: #fff;
	border: 2px solid rgb(66,66,66);
}
.content main .aspect-ratio-box a{
	color: #fff;
}
.content main .aspect-ratio-box a:hover,
.content main .aspect-ratio-box a:focus{
	color: rgb(66,66,66);
}
.content.lesson-plans main h2,
.content.syllabi main h2,
.content.about main h2{
	font-size: 1.4em;
}
.content.about.error404 main h2{
	font-size: 1.6em;
}
.content.lesson-plans main h2,
.content.syllabi main h2,
.content.about main h2{
	font-weight: 400;
	font-variant: small-caps;
	/* hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	word-break: normal;
	-ms-word-break: normal; */
	line-height: 1.2em;
	color: #fff;
	background-color: rgb(66,66,66);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0;
	padding: .3em;
	min-width: 60%;
	max-width: 650px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: .93;
	z-index: 15;
}
.content.lesson-plans main h2.top,
.content.syllabi main h2.top,
.content.about main h2.top{
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%, -30%);
	-moz-transform: translate(-50%, -30%);
	transform: translate(-50%, -30%);
}
.content.lesson-plans main h2.bottom,
.content.syllabi main h2.bottom,
.content.about main h2.bottom{
	top: 70%;
	left: 50%;
	-webkit-transform: translate(-50%, -70%);
	-moz-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
}
.content.zoomcasts main h2{
	font-size: 2.2em;
	font-variant: small-caps;
	line-height: 1.4em;
	color: #242424;
}
.content.zoomcasts main h2{
	margin: 0 auto;
}
@media only screen and (min-width: 480px){
	.content.lesson-plans main h2,
	.content.syllabi main h2,
	.content.about main h2{
		font-size: 1.6em;
	}
	.content.about.error404 main h2{
		font-size: 2.4em;
	}
}
@media only screen and (min-width: 768px){
	.content.lesson-plans main h2,
	.content.syllabi main h2,
	.content.about main h2{
		font-size: 2.3em;
		max-width: 850px;
	}
	.content.about.error404 main h2{
		font-size: 3em;
		max-width: 850px;
	}
	.content.zoomcasts main h2{
		font-size: 2.4em;
		margin: .5em auto;
	}
}
.content main h3{
	font-size: 1.15em;
	/* hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	word-break: normal;
	-ms-word-break: normal; */
	margin: 0 auto;
}
.content section.menu-container h3{
	color: #fff;
	margin-top: 0;
}
.content h3#user-guide{
	color: #242424;
	text-align: left;
}
.content main h4{
	text-align: left;
	color: inherit;
}
.content main section.pathways h4::before,
.content main section.materials h4::before,
.content main section.british-japanese h5.alternate::before{
  font-variant: normal;
	font-weight: normal;
	counter-increment: pathways;
}
.content main section.pathways h4::before,
.content main section.materials h4::before{
	content: counter(pathways, lower-alpha) ". ";
}
.content main section.british-japanese h5.alternate::before{
  content: counter(pathways) ") ";
}
.content main section.pathways strong,
.content main section.materials strong{
  font-weight: 600;
}
.content a.link404{
	color: #fff;
	font-weight: 600;
	background-color: #cb6948;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 6px;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content a.link404:focus,
.content a.link404:hover{
	background: #2e2e2e;
}
@media only screen and (min-width: 768px){
	.content a.link404{
		font-size: 1.2em;
	}
}
.content main .specs{
	text-align: center;
}
.content main .specs .specs-container{
	margin-top: 1rem;
	text-align: left;
	display: inline-block;
}
.content main .specs .specs-container a.mail,
.content main .specs .specs-container a.mail:visited{
	text-decoration: none;
	padding: 0 5px;
}
.content main .specs .specs-container a.mail span{
	font-size: .9em;
	text-decoration: underline;
}
.content section.menu-container{
	text-align: center;
	border: 1px solid #949494;
	margin: 0;
	padding: 1.5em 2em 2em;
	display: inline-block;
	box-sizing: border-box;
}
.content ol.menu{
	font-size: .9em;
	margin: 1em auto 0;
	padding-left: 1.2em;
	display: inline-block;
}
.content ol.menu li ol{
	list-style: lower-alpha;
	padding-left: 1em;
}
@media only screen and (min-width: 768px){
	.content ol.menu li ol{
		padding-left: revert;
	}
}
.content .cluster-details div ol{
	margin-left: .25em;
	padding: 0;
	display: inline;
	counter-reset: items;
}
.content .cluster-details div ol li{
	margin-right: .25em;
	display: inline;
}
.content .cluster-details div ol li::before{
	counter-increment: items;
  content: counter(items) ") ";
}
.content section ul li,
.content section ul li a{
	margin-bottom: .5em;
}
.content.about section ul{
	list-style: none;
	margin: 1.5em;
	padding: 0;
}
.content.about.values section ul{
	list-style: inherit;
	/* margin: 1.5em;
	padding: 0; */
}
.content section ul#topic-list{
	padding: 0 0 0 1.2em;
}
.content section p{
	clear: both;
}
.content section p + section:first-of-type{
	margin-top: 2.5em;
}
.content.about.founders section p img{
	margin: .5em .75em 0 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: inline-block;
}
@media only screen and (min-width: 480px){
	.content.about.founders section p img{
		margin: .5em .75em 0 0;
		width: 50%;
		float: left;
		display: inline;
	}	
}
@media only screen and (min-width: 768px){
	.content.about.founders section p img{
		width: 30%;
	}
}
@media only screen and (min-width: 992px){
	.content.about.founders section p img{
		width: 25%;
	}
}
.content h5 + ol,
.content h5 + ul{
	padding: 0 0 0 1rem;
}
.content h5 + ol li{
	margin: 0 0 1rem 0;
}
.content .annotation{
	font-size: .9em;
	margin: .25em 0 0 1.5em;
	display: block;
}
.content ul.annotation,
.content ol.annotation{
	margin: 0 0 0 1.5em;
}
.content.sitemap ol li ol{
	list-style: lower-alpha;
	padding-left: 1em;
}
.content.sitemap ol li ol li ol{
	list-style: lower-roman;
}
@media only screen and (min-width: 768px){
	.content.sitemap ol li ol{
		padding-left: revert;
	}	
}