/* 1.6. YouTube Player */

/* YouTube player taken from https://webdesign.tutsplus.com/tutorials/how-to-lazy-load-embedded-youtube-videos--cms-26743 */
/* Review https://codepen.io/beardofprey/pen/MXmxXR */
.wrapper{
	margin: 1.5em auto;
	padding: 0;
	border: 1px solid #504A3F;
}
@media only screen and (min-width: 480px){
	.wrapper{
		margin: 1.25em auto 1.5em;
	}
}
@media only screen and (min-width: 768px){
	.wrapper{
		margin: 1em auto 1.5em;
	}
}
.youtube{
	background: #E9E9E9;
	cursor: pointer;
	outline: 3px transparent solid;
	padding-top: 56.25%;
	overflow: hidden;
	position: relative;
}
.youtube:hover,
.youtube:focus{
	outline: 3px #3D5A80 solid;
}
.youtube img{
	width: 100%;
	height: 100%;
	/* top: -16.82%; */
	top: 0;
	left: 0;
}
.youtube:hover img,
.youtube:focus img{
	opacity: 0.7;
}
.youtube .play-button{
	background-color: #c3503b;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	/* box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); */
	width: 46.6px;
	height: 40px;
	opacity: .75;
	z-index: 3;
}
@media only screen and (min-width: 480px){
	.youtube .play-button{
		width: 70px;
		height: 60px;
	}
}
.youtube .play-button:before{
	content: "";
	border-style: solid;
	border-width: 10px 0 10px 18px;
	border-color: transparent transparent transparent #fff;
}
@media only screen and (min-width: 480px){
	.youtube .play-button:before{
		border-width: 15px 0 15px 26px;
	}
}
.youtube:hover .play-button,
.youtube:focus .play-button{
	background-color: #3D5A80;
}
.youtube img,
.youtube .play-button{
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before{
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.youtube iframe{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3; /* Hides play button when iframe loads */
}
/* See main css for skipcontrols */